<html xmlns:th="https://www.thymeleaf.org"
      th:replace="layout/layout::layout( ~{::body})">
</head>
<body>

    <div class="container mt-4">
        <h3>Añade nuevos amigos</h3>
        <p>
            Puedes añadir a un amigo a través de su Username o Nickname
        </p>

        <form action="/friends/foundUser" method="post">

            <div class="input-group"> 
                <input type="text" placeholder="Introduce un nombre de usuario" name="username" class="form-control">
                <button type="submit" class="btn btn-outline-success"><i class="fas fa-search"></i></button>
            </div>
        </form>
        <div class="amigos"></div>

    </div>
</body>
</html>
