<html xmlns:th="https://www.thymeleaf.org"
      th:replace="layout/layout::layout( ~{::body})">


</head>
<body>

    <h3>¡Hemos encontrado al usuario que buscas!</h3>

    <table class="table">
        <tr th:if="${name!=null}" th:each="nam:${name}">
            <td>
                <form th:action="@{/friends/addFriend}" method="post">
                    <div class="input-group">
                        <input type="hidden" th:value="${nam.id}" name="idUserFriend">
                        <label th:text="${nam.nickName}" class="form-control"> </label>
                        <button type="submit" class="btn btn-outline-success"><i class="fas fa-user-plus"></i></button>
                    </div>
                </form>
            </td> 
        </tr>  
    </table> 



</body>
</html>