<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:fragment="layout(htmlcuerpo)">

    <head>
        <title>UMeet - ¡Chatea con tus amigos!</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
        <link rel="stylesheet" href="/styles.css">
    </head>

    <body>
        <div>
            <div class="row">
                <div class="col-md-12">
                    <nav class="navbar navbar-expand-lg navbar-light bg-light navbar-dark bg-dark container-fluid">
                        <div class="container-fluid">
                            <ul class="navbar-nav">
                                <a class="nav-link" href="/home">
                                    <li>
                                        <span>
                                            <img src="https://i.imgur.com/mlDgHkr.jpg" style="width: 50px; height: 50px;">
                                        </span>
                                    </li>
                                </a>
                            </ul>
                            <!-- Amigos -->
                            <ul class="navbar-nav">
                                <li class="nav-item active">
                                    <a class="nav-link" href="/friends/friendsList"><i class="fas fa-user-friends otroi"></i>Amigos <span class="sr-only">(current)</span></a>
                                </li>
                            </ul>
                            <!-- Anyadir servidores -->
                            <ul class="navbar-nav">
                                <li class="nav-item active">
                                    <a class="nav-link" href="#" id="inventado" onclick="servidor()"><i class="fas fa-user-friends otroi"></i>Servidores</a>
                                </li>
                            </ul>
                            <!-- Lista servidores -->
                            <div class="row ">
                                <div class="col-4 ">
                                    <div id="userServers" class="overflow-auto ">
                                    </div>
                                </div>
                            </div>

                            <!-- Perfil usuario -->
                            <div class="navbar-nav dropdown row">
                                <a class="nav-link dropdown-toggle" href="#" role="button" id="user-profile" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">   
                                </a>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                    <a class="dropdown-item" href="/profile/view">Ver Perfil</a>
                                    <a class="dropdown-item" onclick="editProfile()">Editar Perfil</a>
                                    <a th:href="@{/logout}" class="btn btn-success align-items-center dropdown-item">Desconectar</a>
                                </div>

                                <div id="2-dropdonw">
                                    <a role="button" data-toggle="dropdown" aria-haspopup="true" id="user-status" aria-expanded="false">
                                        &nbsp;
                                    </a>
                                    <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                        <a onClick="editStatus('conectado')" class="dropdown-item">Conectado</a>
                                        <a onClick="editStatus('desconectado')" class="dropdown-item">Desconectado</a>
                                        <a onClick="editStatus('ocupado')" class="dropdown-item">Ocupado</a>
                                        <a onClick="editStatus('ausente')" class="dropdown-item">Ausente</a>
                                    </div>
                                </div>
                            </div>
                        </div>     
                    </nav>

                    <div class="" style="text-align: center; align-content:center;">
                        <div id="contentBody" class="">
                            <th:block th:include="${htmlcuerpo}"/>
                        </div>
                    </div>
                    <footer>
                        <p>HIBERUS</p>
                    </footer>
                </div>
            </div>
        </div>

    <myscripts th:fragment="scripts">
        <script src="https://code.jquery.com/jquery-3.6.0.js" ></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.js" ></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.min.js" ></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/bootbox.js/5.5.2/bootbox.js"></script>
        <script>   
            $(document).ready(function(){
                loadProfile();
                loadServers();
                msgSize();
            });
            function msgSize(){
                var height = $(window).height();

                $('#contentChat').height(height-200);
                console.log(height);
            }
            function loadProfile() {
                $.ajax({
                    url: "/profile/getUser",
                    success: function (pHtml) {
                        document.getElementById("user-profile").innerHTML = '<span>' + pHtml.username +
                                '</span>&nbsp;&nbsp;<img alt="Avatar" class="avatar" src="/profile/avatar?url=' +
                                pHtml.avatar + '">&nbsp;'; //<span class="badge badge-'+pHtml.status+' badge-counter">&nbsp;</span>
                        
                        $("#user-status").removeAttr('class');
                        $("#user-status").addClass("badge badge-counter badge-"+pHtml.status);
                   //document.getElementById("set-status").class = 
//                '<span role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="badge badge-' + pHtml.status + ' badge-counter">&nbsp;</span>\n\
//                                div class="dropdown-menu" aria-labelledby="dropdownMenuLink">\n\
//                                <a onClick="editStatus('+"'conectado'"+')" class="dropdown-item">Conectado</a>\n\
//                                <a onClick="editStatus('+"'desconectado'"+')" class="dropdown-item">Desconectado</a>\n\
//                                <a onClick="editStatus('+"'ocupado'"+')" class="dropdown-item">Ocupado</a>\n\
//                                <a onClick="editStatus('+"'ausente'"+')" class="dropdown-item">Ausente</a></div>';
                    },
                    error: function (xhr, status, error) {
                        console.log(xhr.responseText);
                        window.location = "/logout";
                    }
                });
            }
            function editStatus(status) {
                $.ajax({
                    url: "/profile/statusDrop",
                    data: {
                        status: status
                    },
                    success: function (pHtml) {
                        loadProfile();
                    },
                    error: function (xhr, status, error) {
                        console.log(xhr.responseText);
                    }
                });
            }
            function editProfile() {
                $.ajax({
                    url: "/profile/edit", //<--Ejecutamos del contra esta url
                    //data: {
                    //    id: $.cookie("idUser"), //Obtener id con las cookies del usuario
                    //$.cookie("idUser")
                    //},
                    success: function (pHtml) {
                        bootbox.dialog({
                            title: 'Editar perfil',
                            size: "large",
                            message: pHtml
                        })
                    },
                    error: function (xhr, status, error) {
                        console.log(xhr.responseText);
                    }
                });
            }
            function loadServers(){
                //userServers
                $.ajax({
                    type: "POST",
                    url: "/server/byUser",
                    success: function (pJson) {
                        //loadProfile();
                        //console.log(pJson);
                        $("#userServers").html("");
                        var salida = " ";
                        for (x of pJson){
                            salida += "<a href=/server/one?idServer=" + x.id + ">" +
                                    "<img class='avatar' src=/profile/avatar?url=" + x.avatar +" >" +
                                    "</a>";
                        }
                        //console.log(salida);
                        $("#userServers").append(salida);
                    },
                    error: function (xhr, status, error) {
                        alert(xhr.responseText);
                    }
                });
            } 
            function servidor() {
                //$("#inventado").attr("href","/server/byUser?idUser=" + $.cookie("idUser"));
                $.ajax({
                    type: "POST",
                    url: "/server/allServers",
                    success: function (pHtml) {
                        $("body").html(pHtml);
                    },
                    error: function (xhr, status, error) {
                        console.log(xhr.responseText);
                    }
                });
            }

            function chat(idCanal) {
                $.ajax({
                    type: "POST",
                    url: "/msg/channel/" + idCanal,
                    success: function (pJson) {
                        //console.log(pJson);
                        $("#sendit").html("&nbsp;&nbsp;&nbsp;<input type='text' id='sendMsg' name='text' placeholder='Escribe un mensaje'>" +
                                        "<a onclick=enviarMsgCanal(" +idCanal +") ><i class='fnt-aws-size far fa-paper-plane'></i></a>"
                                        +"&nbsp;&nbsp;&nbsp;<a onclick=enviarMsgFileCanal(" +idCanal +") ><i class='fnt-aws-size fas fa-paperclip'></i></a>");
                        var salida = $("<tr>").html("<div class='h2 mx-2 my-2 text-aling-center'>¡Te damos la bienvenida al canal!<br><br></div>");
                        $("#contentChat").html("");
                        for (x of pJson) {
                            $("<tr>").html("<td><p><span class='mensaje'><img alt='Avatar' class='avatar-msg' src='/profile/avatar?url="+x.user.avatar +"'>&nbsp;&nbsp;"+x.user.nickName + ":<br></span><span class='mensaje-2'> " + x.text + "</span></p></td>").appendTo(salida);
                        }
                        /*$("<tr>").html("<td><form action='/msg/channel/sendmsg' method='post'>" +
                                "<input type='hidden' name='idChannel' value='" + idCanal + "' />" +
                                "<input type='hidden' name='idUser' value='" + $.cookie("idUser") + "' />" +
                                "<input type='text' name='text' />" +
                                "<button type='submit'> Enviar </button></td>").appendTo(salida);*/
                        //console.log(salida);
                        salida.appendTo("#contentChat");
                        
                        $('#contentChat').scrollTop( $('#contentChat').prop('scrollHeight') ); 
                    },
                    error: function (xhr, status, error) {
                        console.log(xhr.responseText);
                    }
                });
            }
            function enviarMsgCanal(idCanal) {
                var msg = $("#sendMsg").val();
                if(msg.length > 0 && msg != " "){

                    //alert($("#sendMsg").val().length);
                    $.ajax({
                        type: "POST",
                        url: "/msg/channel/sendmsg",
                        data: {
                            idChannel: idCanal, //Obtener id con las cookies del usuario 
                            text: $("#sendMsg").val()
                        },
                        success: function (pJson) {
                            console.log("Mensaje enviado");
                            chat(idCanal);
                           
                            $('#contentChat').scrollTop( $('#contentChat').prop('scrollHeight') ); 
                        },
                        error: function (xhr, status, error) {
                            console.log(xhr.responseText);
                        }
                    });
                } 
            }
            //Rueda mouse horizontal 
            var item = document.getElementById("userServers");
            window.addEventListener("wheel", function (e) {
                if (e.deltaY > 0)
                    item.scrollLeft += 100;
                else
                    item.scrollLeft -= 100;
            });
            function chatPrivado(idDestino) {
                $.ajax({
                    type: "POST",
                    url: "/msg/private/" +idDestino,
                    success: function (pJson) {
                        //console.log(pJson);
                        $("#sendit").html("<input type='text' id='sendMsg' name='text' placeholder='Cuentanos tu vida'/>" +
                                        "<button onclick=enviarMsgPrivado(" +idDestino +") >Enviar</button>");
                        var salida = $("<tr>").html("");
                        $("#panelChat").html("");
                        for (x of pJson) {
                            $("<tr>").html("<td><span class='mensaje'>" + x.user.nickName + "</span>: " + x.text + "</td>").appendTo(salida);
                        }
                        /*$("<tr>").html("<td><form action='/msg/channel/sendmsg' method='post'>" +
                                "<input type='hidden' name='idChannel' value='" + idCanal + "' />" +
                                "<input type='hidden' name='idUser' value='" + $.cookie("idUser") + "' />" +
                                "<input type='text' name='text' />" +
                                "<button type='submit'> Enviar </button></td>").appendTo(salida);*/
                        //console.log(salida);
                        salida.appendTo("#panelChat");
                    },
                    error: function (xhr, status, error) {
                        console.log(xhr.responseText);
                    }
                });
            }

            function enviarMsgPrivado(idDestino){
                $.ajax({
                    type: "POST",
                    url: "/msg/private/sendmsg",
                    data: {
                        idUserDestiny: idDestino, 
                        text: $("#sendMsg").val()
                    }, 
                    success: function (pJson) {
                        //console.log("Mensaje enviado");
                        chatPrivado(idDestino);
                    },
                    error: function (xhr, status, error) {
                        console.log(xhr.responseText);
                    }
                });
            }
            
            function amigos() {
               
                $.ajax({
                    type: "POST",
                    url: "/friends/friendsFilter",
                    data: {
                        username:  $("#buscaAmigo").val()
                        
                    }, 
                    success: function (pHtml) {
                        $("#obtenAmigo").html(pHtml);
                    },
                    error: function (xhr, status, error) {
                        console.log(xhr.responseText);
                    }
                });
            }
            function editCategory(idServer, idCategory){
                $.ajax({
                    url: "/category/form",
                    data: {
                        idServer: idServer,
                        idCategory: idCategory},
                    success: function (html){
                        bootbox.dialog({
                            title: 'Categoría',
                            message: html
                        })
                    },
                    error: function (xhr, status, error) {
                        console.log(xhr.responseText);
                    }
                })
            }

            function editChannel(idCategory, idChannel){
                $.ajax({
                    url: "/channel/form",
                    data: {
                        idCategory: idCategory,
                        idChannel: idChannel},
                    success: function (html){
                        bootbox.dialog({
                            title: 'Canal',
                            message: html
                        })
                    },
                    error: function (xhr, status, error) {
                        console.log(xhr.responseText);
                    }
                })
            }
        </script>
    </myscripts>
</body>
</html>
