<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org"
      th:replace="layout/layout::layout( ~{::body})">

    <body>

        <div th:each="p:${profile}">
            <div class="container text-center mt-5">

                <div class="mt-5 mb-4">
                    <h1 class="h1 mb-0 text-white">Tu Perfil</h1>
                </div>

                <div class="row justify-content-center align-self-center mt-4 mb-4 mx-4">
                    <a onclick="editProfile()" class="btn-primary btn-icon-split btn-sm font-btn-user-profile">
                        <span class="icon text-white-50">
                            <i class="fas fa-user-edit"></i>
                        </span>
                        <span class="text">Editar Datos</span>
                    </a>

                    <!--                    <a href="" class="btn-whitelist btn-icon-split btn-sm">
                                            <span class="icon text-white-50">
                                                <i class="fas fa-edit"></i>
                                            </span>
                                            <span class="text">Editar Contraseña</span>
                                        </a>-->
<!--                    No borra-->
                    <a class="btn-primary btn-icon-split btn-sm mx-4 font-btn-user-profile" data-toggle="modal" data-target="#bajaModal">
                        <span class="icon text-white-50">
                            <i class="fas fa-user-slash"></i>
                        </span>
                        <span class="text">Darse de Baja</span>
                    </a>
                </div>  
                
                <div class="modal fade" id="bajaModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">¿Deseas darse de baja?</h5>
                                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true"><i class="fas fa-times"></i></span>
                                </button>
                            </div>
                            <div class="modal-body text-white">Estas seguro que deseas darse de baja lo y borras todos tus datos. (Esta acción no se podra revertir).</div>
                            <div class="modal-footer">
                                <button class="btn btn-primary" type="button" data-dismiss="modal">Cancelar</button>
                                <a class="btn btn-primary" th:href="@{remove}">Darse de Baja</a>
                            </div>
                        </div>
                    </div>
                </div>

<!--                <form method="post" action="status">
                    <select name="status">
                        <option value="conectado" selected>Conectado</option>
                        <option value="desconectado">Desconectado</option>
                        <option value="ocupado">Ocupado</option>
                        <option value="ausente">Ausente</option>
                    </select>
                    <input hidden th:value="${p.id}" name="id">
                    <input type="submit" value="Modificar Estado">
                </form>-->

                <div class="row pt-4 justify-content-center align-self-center">

                    <div class="info-perfil">
                        <div class="card border-left-primary shadow h-100 py-2 bg-user-profile">
                            <div class="card-body">
                                <div class="row no-gutters align-items-center">
                                    <div class="col mr-2">
                                        <div class="text-xs font-weight-bold text-uppercase mb-1 text-color-primary">Nick</div>
                                        <div class="h5 mb-0 font-weight-bold text-white"><span th:text="${p.nickName}"></span></div>
                                    </div>
                                    <div class="col-auto">
                                        <i class="fas fa-user fa-2x text-color-primary"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="info-perfil">
                        <div class="card border-left-success shadow h-100 py-2 bg-user-profile">
                            <div class="card-body">
                                <div class="row no-gutters align-items-center">
                                    <div class="col mr-2">
                                        <div class="text-xs font-weight-bold text-uppercase mb-1 text-color-primary">Username</div>
                                        <div class="h5 mb-0 font-weight-bold text-white"><span th:text="${p.username}"></span></div>
                                    </div>
                                    <div class="col-auto">
                                        <i class="fas fa-address-book fa-2x text-color-primary"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="info-perfil">
                        <div class="card border-left-warning shadow h-100 py-2 bg-user-profile">
                            <div class="card-body">
                                <div class="row no-gutters align-items-center">
                                    <div class="col mr-2">
                                        <div class="text-xs font-weight-bold text-uppercase mb-1 text-color-primary">Email</div>
                                        <div class="h5 mb-0 font-weight-bold text-white"><span th:text="${p.email}"></span></div>
                                    </div>
                                    <div class="col-auto">
                                        <i class="fas fa-envelope fa-2x text-color-primary"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>   
                </div>

                <div class="row pt-4 justify-content-center align-self-center">
                    <div class="info-perfil">
                        <div class="card border-left-warning shadow h-100 py-2 bg-user-profile">
                            <div class="card-body">
                                <div class="row no-gutters align-items-center">
                                    <div class="col mr-2">
                                        <div class="text-xs font-weight-bold verde-perfil text-uppercase mb-1 text-color-primary">Avatar</div>
                                        <div class="h5 mb-0 font-weight-bold text-color-primary"><img th:src="@{avatar(url=${p.avatar})}" height="150px" width="250px"></span></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div> 
                </div>
            </div> 
        </div>
    </body>
</html>