body {
    background-color: #222629;
    overflow-y:auto;
    overflow-x: hidden;
}

a:hover{
    cursor:pointer;
}

.btn-primary {
    background-color: #61892F;
    border-color: #61892F;
    align: center;
}

.btn-primary:hover {
    background-color: #86C232;
    border-color: #86C232;
}

.form-control {
    background-color: #3B4247;
    border-color: #3B4247;
    color: #EDFED5;
}

td {
    color: #EDFED5;
}

hr {
    background-color: #3B4247;
}

.dropdown-menu,
.dropdown-item {
    background-color: #3B4247;
    color: #EDFED5;
}

.navbar-nav,
.umeet {
    color: #86C232;
    padding-right: 10px;
    font-size: 24px;
}

.ghost {
    color: #6B6E70;
    font-size: 500px;
    text-align: center;
    opacity: 0.2;
}

h3 {
    color: #6B6E70;
    text-align: center;
}

.fa-user-friends {
    padding-right: 5px;
}

.btn-success {
    background-color: #61892F;
    border-color: #61892F ;
    float: center;
}

.avatar {
    vertical-align: middle;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
.avatar-msg {
    vertical-align: middle;
    width: 35px;
    height: 35px;
    border-radius: 50%;
}
.avatar-server {
    vertical-align: middle;
    width: 70px;
    height: 70px;
    border-radius: 50%;
}
.info-perfil {
    margin-bottom: 1.5rem;
    margin-left: .5rem;
    width: 480px;
}
.info-avatar{
    margin-left: .5rem;
    width: 480px;
}
.text-color-primary{
    color:#61892F;
}
.bg-user-profile{
    background-color: #343a40;
}
.font-btn-user-profile{
    font-size: 18px !important;
}
.badge-conectado, .badge-desconectado, .badge-ocupado,.badge-ausente{
    padding: .15em .5em !important;
    font-size: 12px !important;
    border-radius: 60rem !important;
    position: absolute !important;
    margin-top: 37px !important;
    right: 73px !important;  
}
.badge-conectado{
    border: 3px solid green;
    background-color: green;   
}
.badge-desconectado{
    border: 3px solid white;
    background-color: #343a40;
}
.badge-ocupado{
    border: 3px solid #dc3545;
    background-color: #dc3545;
}
.badge-ausente{
    border: 3px solid orange;
    background-color: orange;
}
.modal-content{
    background-color: #343a40;
}
.modal-title{
    color: white;
}

/*Avatares horizontal*/
.overflow-auto{
    display: flex;
    flex-direction: row;
}
.overflow-off-x{
    overflow-x: hidden !important;
}
.overflow-off-y{
    overflow-x: hidden !important;
}

/*Scrollbar*/
::-webkit-scrollbar{
    width: 5px;
    height: 5px;
}
::-webkit-scrollbar-thumb{
    background: linear-gradient(150deg, #86C232 18%,#61892F 77%);
    border-radius: 30px;
}
::-webkit-scrollbar-thumb:hover{
    background: #86C232;
}
::-webkit-scrollbar-track{
    background: #F0F0F0;
    border-radius: 30px;
    box-shadow: inset 0px 0px 0px 0px #F0F0F0;
}

.server-text{
    margin-bottom: 1.5rem;
    /*margin-left: .5rem;*/
    /*background-color: #2f3136;*/
    margin-left: 20px;
    
}
.msg-text{
    margin-bottom: 1.5rem;
    /*margin-left: .5rem;*/
    width: 100%;
    min-width: 0;
    min-height: 0;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    height:82%
}
#contentChat{
    background-color: #343a40;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    height:100%
}
.row-sin-m{
    display: flex;
    flex-wrap: wrap;
    margin-right: 0 !important;
    margin-left: 0 !important;
}
#contentBody .col-sm-7 ,#contentBody .col-sm-3, #contentBody .col-sm-2 ,#contentBody .col-sm-1{
    padding-right: 0px !important;
    padding-left: 0px !important;
}
#contentBody .col-sm-3{
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    background-color: #2f3136;
    text-align: left !important;
}
#contentBody .col-sm-7{
    background-color: #2f3136;
}
#contentBody .col-sm-2{
    background-color: #2f3136;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}
#contentBody .col-sm-1{
    background-color: #2f3136;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}
a#home-tab.nav-link{
    color: #EDFED5;
}
a#profile-tab.nav-link{
    color: #EDFED5; 
}
a#home-tab.nav-link.active{
    color: #61892F;
}
a#profile-tab.nav-link.active{
    color: #61892F;
}
ul li{
    list-style: none;
    border: 0;
}
ul li :hover{
    background-color: #343a40;
    color: #61892F;
    border-radius: 15px;
/*    border-radius: 15px;*/
}
.list-group-item {
    border: 0;
    position: relative;
    display: flex;
}
#accordation{
    flex: 1 0 auto;
}
#accordation-2{
    flex: 1 0 auto;
}
.children-cat{
    flex: 0 0 auto;
    justify-content: right;
}
.send-msg-field {
    margin-top: 5px;
    background-color: #3b3f45;
    width: 100%;
    position: static;
    border-radius: 10px;
}
.send-msg-field input {
    outline-width: 0;
    background-color: #3b3f45;
    width: 90%;
    border-radius: 10px;
    color: white;
    height: 45px;
    border: 0;
}
::placeholder{
    color: white;
}
.list-group-item{
    background-color: transparent;
}
.list-group-item a{
    color: white;
    text-decoration: none;
}
#contentChat{
    position: relative;
    flex: 0 0 auto;
    text-align: left;
}
#sendit{
    position: relative;
    text-align: left;
}
.fnt-aws-size{
    font-size: 22px !important;
}
.prueba{
    height: 400px;
}
.mensaje{
    padding-left: 20px; 
    color:#86C232;
}
.mensaje-2{
    padding-left: 60px; 
    color: white;
    word-break: break-all;
}
/*
p{
    color: #6B6E70;
}*/
@media (max-width: 800px) { 
    body{
        overflow: auto;
    }
}

label {
    color:white;
}

#sendit{
    padding-left:4px;
}
i {
    cursor:pointer;
}

input:focus {
    outline-width: 0;
    border-radius: 10px;
}