body {
    background-color: #222629;
}

::-webkit-scrollbar {
    display: none;
}

.btn-primary {
    background-color: #61892F;
    border-color: #61892F;
    align: center;
}

.btn-primary:hover {
    background-color: #86C232;
    border-color: #86C232;
}

.form-control {
    background-color: #3B4247;
    border-color: #3B4247;
    color: #EDFED5;
}

td {
    color: #EDFED5;
}

hr {
    background-color: #3B4247;
}

.dropdown-menu,
.dropdown-item {
    background-color: #3B4247;
    color: #EDFED5;
}

.navbar-nav,
.umeet {
    color: #86C232;
    padding-right: 10px;
    font-size: 24px;
}

.ghost {
    color: #6B6E70;
    font-size: 500px;
    text-align: center;
    opacity: 0.2;
}

h3 {
    color: #6B6E70;
    text-align: center;
}

.fa-user-friends {
    padding-right: 5px;
}

.btn-success {
    background-color: #61892F;
    float: center;
}

.avatar {
    vertical-align: middle;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}