body {
    background-color: #222629;
}

::-webkit-scrollbar {
    display: none;
}

.btn-primary {
    background-color: #61892F;
    border-color: #61892F;
    align: center;
}

.btn-primary:hover {
    background-color: #86C232;
    border-color: #86C232;
}

.form-control {
    background-color: #3B4247;
    border-color: #3B4247;
    color: #EDFED5;
}

td {
    color: #EDFED5;
}

hr {
    background-color: #3B4247;
}

.dropdown-menu,
.dropdown-item {
    background-color: #3B4247;
    color: #EDFED5;
}

.navbar-nav,
.umeet {
    color: #86C232;
    padding-right: 10px;
    font-size: 24px;
}

.ghost {
    color: #6B6E70;
    font-size: 500px;
    text-align: center;
    opacity: 0.2;
}

h3 {
    color: #6B6E70;
    text-align: center;
}

.fa-user-friends {
    padding-right: 5px;
}

.btn-success {
    background-color: #61892F;
    float: center;
}

.avatar {
    vertical-align: middle;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
.info-perfil {
    margin-bottom: 1.5rem;
    margin-left: .5rem;
    width: 480px;
}
.info-avatar{
    margin-left: .5rem;
    width: 480px;
}
.text-color-primary{
    color:#61892F;
}
.bg-user-profile{
    background-color: #343a40;
}
.font-btn-user-profile{
    font-size: 18px !important;
}
.badge-conectado, .badge-desconectado, .badge-ocupado,.badge-ausente{
    padding: .15em .5em !important;
    font-size: 12px !important;
    border-radius: 60rem !important;
    position: absolute !important;
    margin-top: 37px !important;
    left: 68px !important;  
}
.badge-conectado{
    border: 3px solid green;
    background-color: green;   
}
.badge-desconectado{
    border: 3px solid white;
    background-color: #343a40;
}
.badge-ocupado{
    border: 3px solid #dc3545;
    background-color: #dc3545;
}
.badge-ausente{
    border: 3px solid orange;
    background-color: orange;
}
.modal-content{
    background-color: #343a40;
}
.modal-title{
    color: white;
}