<html xmlns:th="https://www.thymeleaf.org">
    <head>
        <title>Servidores</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <style>
            table{
                border: 1px solid black;
            }
        </style>
    </head>
    <body>
        <div>
            <form th:object="${message}" action="/msg/private/sendmsg" method="post">
                <input th:field="*{id}" />
                <input th:field="*{text}" placeholder="Texto del mensaje" />
                <input th:field="*{name}" />
                <input name="idUserDestiny" type="number" value="1" />
                <input name="idUser" type="number" value="1" />

                <input type="submit">
            </form>
        </div>
    </body>
</html>
