<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Editar perfil</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div class="container">
            <form enctype="multipart/form-data" class="col-12" action="/msg/channel/sendmsgfile" id="formulario"  method="POST">
                <div class="form-group row">
                    <div>
                        <input name="idUser" th:value="${idUser}" class="form-control">
                        <input name="id" th:value="${idChannel}" class="form-control">
                        <input name="name" type="text" class="form-control" value="name"/>
                        <input name="text" type="text" value="text" class="form-control"/>
                        <label for="avatar" class="text-white">Avatar</label>
                        <input name="archivo" type="file" class="form-control"/>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-12 text-center">
                        <input type="submit" class="btn btn-success col-6 ">
                    </div>
                </div>  
            </form>
        </div>  
        <script src="https://code.jquery.com/jquery-3.6.0.js" ></script>    
        <script src="https://cdn.jsdelivr.net/npm/js-cookie@3.0.1/dist/js.cookie.min.js"></script>
    </body>
</html>