<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org"
      th:replace="layout/layout::layout( ~{::body})">
</head>
<body>
    <div class=" fondo">
        <div class= "d-flex justify-content-center posicion-top">

            <div class="index w-100 h-100">
                <img src="/error-robot.gif" class="mt-5"/>
                <div class="posicion text-center align-self-center mb-5">
                    <span class="h1 text-white">¡Ha ocurrido un Error!</span></br></br>
                    <div class="h5 text-white"><a href="/home" class="text-white" style="text-decoration: none"><i class="fas fa-home"></i>  Volver al inicio</a></div>
                </div>                
            </div>
        </div>
    </div>

</body>
</html>