<html xmlns:th="https://www.thymeleaf.org"
      th:replace="layout/layout::layout( ~{::body})">
</head>
<body>
    <div class=" fondo">
        <div class= "probando mt-4">

            <div class="index"> </div>
            <div class="posicion">


                <p>La mejor plataforma social para encontrarte con tus amigos y explorar distintas comunidades </p>
                <h3>¡Empieza a explorar!</h3>

                <a th:href="@{server/allServers}" class="btn btn-primary mt-4"> ¡Vamos!</a>
            </div>
        </div>
    </div>

</body>
</html>
