register


<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Register</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
        <link rel="stylesheet" href="/styles.css">
    </head>
    <body>
        <div class="mx-auto" style="width: 400px;">

            <form class="container-fluid form-login" th:action="@{/newregister}" th:object="${user}" method="post">
                <div class="umeet text-center">
                    <img src="/una.png" class="umeet-logo-login" >
                    <!--<label>UMeet</label>-->
                    </br>
                    <label class="inicio">Registrarse</label>
                </div>

                <div th:if="${error}" class="alert alert-error" style="color: red">    
                    El nombre de usuario no esta disponible
                </div>

                <div class="mb-3">
                  <label  class="form-label">Usuario</label>
                  <input type="text" th:field="*{username}" class="form-control" >
                </div>
                <div class="mb-3">
                  <label  class="form-label">Correo electrónico</label>
                  <input type="email" th:field="*{email}" class="form-control" >
                </div>
                <div class="mb-3">
                  <label class="form-label">Password</label>
                  <input type="password" th:field="*{pass}" class="form-control">
                </div>

                <!--        <div class="mb-3">
                    <label th:for="usu: ${usu.email}" class="form-label">Correo electrónico</label>
                  <input type="email" class="form-control" th:id="usu: ${usu.email}">
                </div>
                <div class="mb-3">
                  <label th:for="usu: ${usu.pass}" class="form-label">Password</label>
                  <input type="password" class="form-control" th:id="usu: ${usu.pass}">
                </div>-->

                <div class="mb-3 flex">
                    <a class="primary" href="/login">¿Ya tienes cuenta? ¡Inicia Sesión!</a>
                </div>
                <button type="submit" class="btn btn-primary">Aceptar</button>
            </form>
        </div>
        
        
        <!-- La solución optima es poner los scripts al final -->
        <script src="https://code.jquery.com/jquery-3.6.0.js" ></script>    
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" ></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/bootbox.js/5.5.2/bootbox.js"></script>
    </body>
</html>
