<html xmlns:th="https://www.thymeleaf.org">
           
  <head th:include="layout/layout::head">
        
    </head>
    <body>
         <div th:include="/layout/layout::navbar">


        </div>
        <div class="row">
            <div class="col-2 m-2">
                <form action="/server/filtered" method="post">
                    <input type="text" name="name" placeholder="Encuentra un servidor" class="form-control m-2">
                    <input type="submit" class="btn btn-primary m-2" >
                </form>
                <hr class="m-2">
                <a href="server/form?idUser=3" class="btn btn-primary m-2">Crea tu servidor</a>
            </div>

            <div id="contentBody" class="col-8 m-2">
                <table class="table">
                    <th>
                        Lista de servidores
                    </th>
                    <tr th:each="sv:${nam}">
                        <td th:text="${sv.name}"> </td>
                        <td th:text="${sv.description}"> </td>
                        <td><a th:href="@{/usr/joinServer(idServer=${sv.id}, idUser=2)}" class="btn btn-primary m-2">Unirse</a></td>
                    </tr>
                </table>
            </div>
        </div>

    
        <div th:include="/layout/layout::footer"></div>
        <div th:include="/layout/layout::scripts"></div>
    </body>
</html>
