<html xmlns:th="https://www.thymeleaf.org"
      th:replace="layout/layout::layout( ~{::body})">


</head>
<body>


    <div class="container mt-5">
        <div class="card-deck ">
            <div  th:if="${nam !=null}"  th:each="sv:${nam}" class="card text-white bg-dark mb-5" style="min-width:20rem; max-width:20rem;">
                <img src="/hola.jpg">
                <div class="card-body">
                    <h5 th:text="${sv.name}"></h5>
                    <p  th:text="${sv.description}"class="card-text"></p>
                </div>
                <div class="card-footer">
                    <a th:href="@{/usr/joinServer(idServer=${sv.id})}" class="btn btn-primary m-2">Unirse</a>
                </div>
            </div>
        </div>
    </div>


</body>
</html>