<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head th:include="layout/layout::head">
</head>
<body>
    <div th:include="/layout/layout::navbar"></div>
    <div class="col-2">
        <ul th:each="category:${categories}">
            <li class="list-group">
                <a  class="list-group-item list-group-item-action" data-toggle="collapse"
                    th:href="'#collapse'+${category.id}" th:text="${category.name}" id="accordation"></a>
                <ul class="collapse show" th:id="'collapse'+${category.id}" data-parent="#accordation"
                    th:each="channel:${category.channels}">
                    <li class="list-group"><a th:attr="onclick=|chat('${channel.id}')|"  class="list-group-item list-group-item-action" th:text="${channel.name}"></a></li>
                </ul>
            </li>
        </ul>
    </div>
    <div th:include="/layout/layout::footer"></div>
    <div th:include="/layout/layout::scripts"></div>
</body>
</html>