<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org" th:replace="layout/layout::layout( ~{::body})">>
    <body>

        <div class="row text-white mx-4">
            <div class="col-sm-3 mt-4 ">
                <div class="server-text">
                    <div class="mt-4 mb-3 ml-4">
                        <span class="h2" th:each="ser:${server}">
                            <img th:src="@{/profile/avatar(url=${ser.avatar})}" class="avatar-server" height="150px" width="250px">
                            <span th:text="${ser.name}"></span>
                        </span>
                        <a th:if="${usr.rol.id==1}"  th:onclick="|editServer(${idServer})|" class="text-white"><i class="far fa-edit" style=":hover{color: #86C232}"></i></a>
                        <a th:if="${usr.rol.id==1}"  th:onclick="|editCategory(${idServer})|" class="text-white"><i class="fas fa-plus" style=":hover{color: #86C232}"></i></a>
                        <a class="text-white" th:onclick="|confirmDelete(${idServer})|"><i class="fas fa-sign-out-alt" style=":hover{color: #86C232}"></i></a>
                    </div>
                    
                    <div class="mr-5 pr-4  overflow-off-x" id="contentServer">
                        <ul class="mb-4" th:each="category:${categories}">
                            <li >
                                <div class="list-group-item mb-2">

                                    <i id="flechitas" class='fas fa-chevron-down mt-1'></i>&nbsp;&nbsp;
                                    <a class="pulsador" data-toggle="collapse" th:href="'#collapse'+${category.id}" th:text="${category.name}" id="accordation-2"></a>
                                    
                                    <div class="children-cat">
                                        <a th:if="${usr.rol.id==1}" th:onclick="|editCategory(null,${category.id})|" style=":hover{color: #86C232}" class="text-white"><i class="far fa-edit"></i></a>
                                        <a th:if="${usr.rol.id==1}" th:href="@{/category/deleteCategory(idCategory=${category.id})}"><i class="far fa-trash-alt"></i></a>
                                        <a th:if="${usr.rol.id==1}" th:onclick="|editChannel(${category.id})|" style=":hover{color: #86C232}" class="text-white"><i class="fas fa-plus"></i></a>
                                    </div>
                                </div>
                                
                                <a class="collapse show" th:id="'collapse'+${category.id}" data-parent="#accordation" th:if="${usr.rol.id==1}" th:onclick="|editChannel(${category.id})|"></a>
                                
                                <ul class="collapse show" th:id="'collapse'+${category.id}" data-parent="#accordation" th:each="channel:${category.channels}">
                                    <li>
                                        <div class="list-group-item mb-2">
                                            <a th:if="${channel!=null}" th:attr="onclick=|chat('${channel.id}')|" th:text="${channel.name}" id="accordation"></a>
                                            
                                            <div class="children-cat">
                                                <a th:if="${usr.rol.id==1}" th:onclick="|editChannel(null,${channel.id})|" style=":hover{color: #86C232}" class="text-white"><i class="far fa-edit"></i></a>
                                                <a th:if="${usr.rol.id==1}" th:href="@{/channel/deleteChannel(idChannel=${channel.id})}"><i class="far fa-trash-alt"></i></a>
                                            </div>    
                                        </div>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-sm-7 mt-4">
                <div class="msg-text">
                    <div class="overflow-auto overflow-off-x mb-3" id="contentChat">
                        <div style="text-align: left" class="h1 ml-5  mt-5" th:each="ser:${server}">
                            <div th:text="${ser.name}"></div>
                            <div th:text="${ser.description}"></div>
                        </div>
                    </div>
                    <div class="row-sin-m">
                        <div id="sendit" class="send-msg-field"></div>
                    </div>
                </div>
            </div>
            
            <!-- Listar Users en el server -->
            <div class="col-sm-2 mt-4">
                <div class="ml-2 overflow-off-x" id="contentServer">
                    <div class="mt-4 text-white" th:each="us:${userServer}" style="word-break: break-all;">
                        <span th:text="${us.user.nickName}"></span>
                        <img th:src="@{/profile/avatar(url=${us.user.avatar})}" class="avatar-msg">
                        <a th:if="${us.user.status} == 'conectado'" class="badge badge-counter badge-conectado" style="margin-top: 15px !important;right: auto !important;">&nbsp;</a>
                        <a th:if="${us.user.status} == 'desconectado'" class="badge badge-counter badge-desconectado" style="margin-top: 15px !important;right: auto !important;">&nbsp;</a>
                        <a th:if="${us.user.status} == 'ocupado'" class="badge badge-counter badge-ocupado" style="margin-top: 15px !important;right: auto !important;">&nbsp;</a>
                        <a th:if="${us.user.status} == 'ausente'" class="badge badge-counter badge-ausente" style="margin-top: 15px !important;right: auto !important;">&nbsp;</a>
                    </div>
                </div>    
            </div>
        </div>
    </body>
</html>
